.bodygradiant{
    background-size: 100 vh;
    background-image: linear-gradient(to bottom right, #EAD9CD, #F9F3E9);
     
}
header{
    
    display:flex;
    height:150px;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom right, #EAD9CD, #F9F3E9);
    
    .logo{
        img{
            
        }
    }
    
}

.h-1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row-reverse;  
}
.header-btns{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    color:black;
 
}

.btn-su{
    background-color: #CD2C29;
    color:white;
    padding: 15px 30px 15px 30px;
    
   
}
.btn-li{
    color:black;
}

.nav-link-1{
    display: block;
    padding: 0.5rem 1rem;
    color:black;
}

.logo{
    margin-left: 50px;
    height: 85px;
    width: 185px;
} 