.bodygradiant{
    /* background-size: 100 vh;
    background-image: radial-gradient(transparent, #f0e4d8);
      */
      background: rgb(234,217,205);
background: linear-gradient(155deg, rgba(234,217,205,1) 0%, rgba(255,255,255,1) 50%);
}
header{
    
    display:flex;
    height:150px;
    justify-content: space-around;
    align-items: center;
    /* background-image: linear-gradient(to bottom right, #EAD9CD, #F9F3E9); */

}

.slider{
    margin-top:10%;
}
.slider .card{
    box-shadow:0px 0px 8px #a4a5a4;
}

.h-1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row-reverse;  
}
.header-btns{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    color:black;
 
}

.btn-su{
    background-color: #CD2C29;
    color:white;
    padding: 15px 30px 15px 30px;
    
   
}
.btn-li{
    color:black;
}

.nav-link-1{
    display: block;
    padding: 0.5rem 1rem;
    color:black;
}

.nav-link-1 a{
    color:black;
}

.logo{
    margin-left: 50px;
    height: 55px;
} 
.content{
    text-align: right;   
    float:right;
}
.laptop-image img{
   width:100%; 
}
.content .subtitle{
    font-size:24px;
    padding-top:30px;
}